.buttonPrimary{
    font-size: 1rem !important;
    background-color: white !important;
    margin-right: 5px !important;
}

.buttonPrimary:hover{
    background-color: rgb(241, 241, 241) !important;
    transition: 0.2s ease;
}

.buttonClearCart{
    font-size: 1rem !important;
    background-color: rgb(255, 106, 106) !important;
    transition: 0.2s ease;
    margin-left: 5px !important;
}

.buttonClearCart:hover{
    background-color: rgb(255, 77, 77) !important;
}

.flexButtons{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.flexTotal{
    display: flex;
}

.hrCart{
    width: 100% !important;
    margin: 1rem;
    border-top-width: 1px;
    font-weight: 700;
    line-height: 1.75rem;
    font-size: 1.125rem;
    text-align: center;
}

.txtTotal{
    font-weight: 600;
    font-size: 1.10rem;
    margin: 3px 0px 0px 8px;
}

.txtTotalNum{
    font-weight: 600;
    font-size: 1.10rem;
    margin: 4px 8px 0px 0px;
}

.totalContainer{
    margin-top: 15px !important;
}

.noItemsCart{
    font-size: 3rem;
    margin: 20px;
}

.noItemsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
}

.formContainer {
    background-color: rgba(200, 252, 243, 0.4);
    border-radius: 20px;
    margin: 30px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.formContainer h4 {
    margin: 10px 0px 0px 0px;
}

.titlesForm {
    display: block;
    margin: 15px;
    text-align: start;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
}
.controls {
    margin-left: 20px;
    width: 300px;
    height: 20px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.25);
}
.controls:focus {
    outline: none
}

.botonFinalizar{
    font-size: 1rem;
    border-radius: 0.25rem;
    border: none;
    color:rgb(32,31,36) ;
    cursor: pointer;
    padding: 0.5em;
}

.botonFinalizar:hover{
    transition: 0.3s ease;
    transform: scale(1.01);
}

.cartFormContainer{
    display: flex !important;
    flex-direction: row !important;
}
