.Grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.container{
    border-color: red !important;
    border: solid 2px;
}
.img{
    height: auto;
    width: auto;
}

@media (max-width: 768px) {
    .Grid{
        display: grid;
        grid-template-columns: 1fr;
    }
  }